.myph{

  border-radius: 50%;
  width:190px;
  height: 250px;
  flex-wrap: wrap;
  object-fit: cover;
transition: transform 0.1s;
  filter: drop-shadow(0px 2px 5px #f84ad2);
  
}
.myph:active{
    transform: scale(1.1);
}
.ex{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 41vh;
}